{% load static %}
<!DOCTYPE html> 
<html> 
  <head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-0JCJSW55H0"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-0JCJSW55H0');
      </script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Quickly and easily download your favorite YouTube videos in various formats. Free, fast, and no hassle!">
      <meta name="keywords" content="youtube downloader, download youtube videos, free youtube downloader, youtube video download, youtube to mp3, youtube to mp4, online youtube downloader, fast youtube downloader, hd youtube downloader, download youtube videos free, youtube video converter, video downloader, youtube video download online, youtube download tool">
      <meta name="author" content="Hasan Eid">
      {% comment %} open graph tags {% endcomment %}
      <meta property="og:title" content="YT downloader" />
      <meta property="og:description" content="Quickly and easily download your favorite YouTube videos in various formats. Free, fast, and no hassle!" />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="https://{{request.META.HTTP_HOST}}{% static "images/yt downloader.jpg" %}" />
      <meta property="og:url" content="https://{{request.META.HTTP_HOST}}{{request.path}}" />

      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

      <title>{% block title %}{% endblock title %}YT Downloder</title>
  </head>
  <body class='bg-dark'> 
      {% block content %}
      
      {% endblock content %}
      
      {% comment %} {% if debug %}
       <div class="btn btn-danger">debug</div>
      {% endif %} {% endcomment %}
    <script>
      const csrfToken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.1/progressbar.min.js" integrity="sha512-8RAwsP5DBXxOKowV9rc4TwxbW0Z+YG856FOh4ymLgoAQlfhCmkYm8G46FaFAZYsG/J8jcAlI/22q0PSLHz4HAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body> 
  </html> 
  

